.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #e9f5ff;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.loginButton {
  background: none;
  border: none;
  color: #0070f3;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.addButton,
.rotateButton,
.finishButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
}

.finishButton {
  background-color: #0070f3;
  color: white;
  margin-left: auto;
}

.hiddenInput {
  display: none;
}

.pdfViewer {
  display: flex;
  flex-wrap: wrap;
}

.fileContainer {
  display: flex;
  flex-direction: row; /* 设置为横向布局 */
  overflow-x: auto; /* 允许横向滚动 */
  width: 100%; /* 确保占满宽度 */
}

.pageContainer {
  position: relative;
  margin-right: 30px; /* 元素间距*/
}

.pageNumber {
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(163, 163, 163);
}

.dropZone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  color: #666;
}

.loader {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #0070f3;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
}

.rotateButton:disabled,
.finishButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.centerRotateButton {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.fileName {
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  padding: 0px 8px;
  border-radius: 4px;
  max-width: 100%;
  color: rgb(102, 36, 47);
  background-color: rgba(255, 89, 117, 0.3);
  /* 此处随机颜色 */
}

/* 增加后 再次新增pdf */
.addPDFContainer {
  cursor: pointer;
  display: flex;
  background: rgb(229, 238, 255);
  width: 200px;
  min-width: 200px;
  height: auto; /* 高度依赖于内容 */
  max-height: 268px;
  min-height: 268px;
  margin: 10px;
  margin-left: 30px;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  gap: 30px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px dashed rgb(102, 153, 255);
  border-radius: 4px;
  color: rgb(102, 153, 255);
  overflow-x: visible;
  /* height: 268px; */
}

.rowGroup {
  display: flex;
  flex-wrap: wrap;
}
